In [7]:
import sklearn

In [8]:
import pandas as pd

In [19]:
df = pd.read_csv('../data/df.csv')

In [20]:
df

,Date,shangai,btc,crude oil,euro,gold,silver,ftse,spy,hsi,...,hashrate,difficulty,transactions,t_cost,y_returns,y_close,y_c,y_returns_shift,y_c_shift,y_close_shift
0,2014-09-18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,-1.413504,NaN,-0.071926,424.440002,-1.414477,-0.069843,-1.0,394.795990
1,2014-09-19,-2.536749,-1.254626,2.157013,2.859478,-0.770139,-0.016573,-0.070641,-1.202629,-0.433993,...,-1.760487,-1.792800,-1.412568,-0.026333,-0.069843,394.795990,-1.414477,0.035735,1.0,408.903992
2,2014-09-20,-2.536749,-1.234372,2.157013,2.859478,-0.770139,-0.016573,-0.070641,-1.202629,-0.433993,...,-1.726138,-1.792800,-1.412259,-0.047936,0.035735,408.903992,1.413425,-0.024659,-1.0,398.821014
3,2014-09-21,-2.536749,-1.248775,2.157013,2.859478,-0.770139,-0.016573,-0.070641,-1.202629,-0.433993,...,-1.774438,-1.792800,-1.412472,0.004043,-0.024659,398.821014,-1.414477,0.008352,0.0,402.152008
4,2014-09-22,-2.678615,-1.243977,2.119813,2.717636,-0.762993,-0.040819,-0.186950,-1.234731,-0.560423,...,-1.774438,-1.792800,-1.411576,-0.247654,0.008352,402.152008,-0.000526,0.083647,1.0,435.790985
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2685,2022-01-24,0.889979,1.359086,1.758532,-0.168031,1.638283,1.511634,0.729664,1.931821,-0.309503,...,1.228915,1.216554,1.806558,1.266997,0.010407,36654.328125,-0.000526,0.008176,0.0,36954.003906
2686,2022-01-25,0.673315,1.363783,1.862765,-0.203576,1.672784,1.533852,0.854375,1.882956,-0.456411,...,1.234809,1.216554,1.807879,1.321220,0.008176,36954.003906,-0.000526,-0.002757,0.0,36852.121094
2687,2022-01-26,0.727649,1.362190,1.940556,-0.243793,1.601043,1.514279,1.017452,1.876980,-0.439815,...,1.165236,1.216554,1.809180,1.224792,-0.002757,36852.121094,-0.000526,0.007764,0.0,37138.234375
2688,2022-01-27,0.579210,1.366652,1.907854,-0.369513,1.483989,1.258280,1.155929,1.855440,-0.614519,...,1.168646,1.216554,1.810456,1.220465,0.007764,37138.234375,-0.000526,0.017397,0.0,37784.332031
2689,2022-01-28,0.498810,1.376601,1.917162,-0.569780,1.456787,1.171740,1.011353,1.951424,-0.708917,...,1.240626,1.216554,1.811703,1.348962,0.017397,37784.332031,-0.000526,0.009365,0.0,38138.179688

In [27]:
y = df.y_c_shift
dropped = ['y_returns_shift', 'y_close_shift', 'y_c_shift']
X = df.drop(columns=dropped)
X.columns

Index(['Date', 'shangai', 'btc', 'crude oil', 'euro', 'gold', 'silver', 'ftse',
       'spy', 'hsi', 'nasdaq', 'nikkei', 'rates', 'open', 'high', 'low', 'MA4',
       'MA50', 'MA80', 'stochRSI', 'RSI', 'btc_std_dev', 'std_dif', 'vol_btc',
       'hashrate', 'difficulty', 'transactions', 't_cost', 'y_returns',
       'y_close', 'y_c'],
      dtype='object')

In [24]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.25, random_state=123, stratify=y)

In [26]:
X_train.shape

(2017, 31)